$primary: black;
$accent-color: white;
$primary-green: #4c6b65;
$primary: #253745;
$accent: #f4f7f6;
.headerMenu {
  background-color: $primary;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $primary;
  text-shadow: -1px -1px 0 $accent-color, 1px -1px 0 $accent-color,
    -1px 1px 0 $accent-color, 1px 1px 0 $accent-color;
  font-size: 40px;
  font-weight: 1000;
  margin-bottom: 0.7em;
  button {
    background-color: $primary;
    border: none;
    color: $primary;
    outline-color: $accent-color;

    div {
      width: 30px;
      height: 3px;
      margin: 8px;
      background-color: $accent-color;
      border-radius: 5px;
    }
  }
}

@media print {
  .headerMenu {
    display: none;
  }
}
