$accent: #f4f7f6;
$primary-page: white;
$primary: #253745;

* {
  margin: 0;
  padding: 0;
}

.page-info {
  // padding: 200px;
  background-color: $primary-page;
  color: $primary;
  text-align: center;

  h3 {
    text-decoration: underline;
  }
  p {
    line-height: 1.5;
    padding: 10px 20px;
  }
}
