$base-color: black;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $base-color;
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
    font-size: 40px;
    font-weight: 1000;
    button {
      background-color: $base-color;
      border: none;
      color: $base-color;
      outline-color: white;

      div {
        width: 30px;
        height: 3px;
        margin: 8px;
        background-color: white;
        border-radius: 5px;
      }
    }
  }
  nav {
    a {
      text-decoration: none;
      color: white;
      text-align: center;
      border-bottom: 1px solid white;
    }
  }
}
.page-info {
  color: white;
  text-align: center;
  h3 {
    text-decoration: underline;
  }
  p {
    line-height: 1.5;
    padding: 10px 20px;
  }
}
