$accent: #f4f7f6;
$primary-page: white;
$primary: #253745;

* {
  margin: 0;
  padding: 0;
}
$primary: #253745;
$primary-page: white;
html {
  background-color: $primary;
}
.text-page {
  h1 {
    padding: 25px 5%;
    text-align: center;
    background-color: #f4f7f6;
    margin: 0 10%;
    .page-title {
      width: 100%;
      background-color: $primary;
      color: white;
      border-radius: 10px;
    }
  }

  // padding: 200px;
  .text-page-info {
    margin: 0 10% 10% 10%;
    padding: 2% 20%;
    background-color: $primary-page;
    color: $primary;
    text-align: center;
  }
  .image-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4%;
    margin: 0 10%;
    padding: 5% 5%;
    background-color: white;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
    main {
      border-radius: 10px;
    }
  }
}

@media screen and(min-width:550px) {
  .text-page {
    h1 {
      padding: 25px 20%;
    }
    .image-page {
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and(min-width: 900px) {
  .text-page {
    .image-page {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media screen and(min-width:1200px) {
  .text-page {
    h1 {
      margin: 0 10%;
      padding: 25px 32%;
    }

    .image-page {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
